{% extends 'base.html.twig' %}

{% block content %}
<!-- Default form login -->
<form class="text-center border border-light p-5" action="/objednat" method="post">
    <p class="h4 mb-4">Objednat</p>
    <input id="firstName" type="text" class="form-control mb-4" name="firstName" placeholder="Jméno">
    <input id="lastName" type="text" class="form-control mb-4" name="lastName" placeholder="Příjmení">
    <input id="email" type="email" class="form-control mb-4" name="email" placeholder="Email">
    <input id="address" type="text" class="form-control mb-4" name="address" placeholder="Adresa">
    <div class="d-flex justify-content-around">
        <div>
            <div class="custom-control">
                <input id="postalCode" type="text" class="form-control mb-4" name="postalCode" placeholder="PSČ">
            </div>
        </div>
        <div>
            <input id="city" type="text" class="form-control mb-4" name="city" placeholder="Město">
        </div>
    </div>
    <button class="btn btn-info btn-block my-4" type="submit">Objednat!</button>
</form>
{% endblock %}
